html {

    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 900px;
    font-family: "Proxima Nova", thin;
    font-size: 16px;
    color: #ffffff;
    background-color: #181818;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 200;
    font-size: 40px;
       line-height: 0.4em;
}

p{
    line-height: 1.5em;
}


h2 {
    font-family: "Raleway";
    color: #999999;
    font-size: 14px;
    
}

#businessintern {
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.9px;
}


#subheader {
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 600;
    line-height: 2
}

#underscore:hover {
    text-decoration: underline;
    
}

#followme {
    font-color: #999999;
    font-family: "Raleway";
    letter-spacing: 1.5px;
    font-weight: 500;
    float: right ;
    font-size: 11px;
    margin: 4.5em auto;
    
        
}

a {
    color: #0083e8;
}
  
b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border-right: 17px solid rgba(0, 0, 0, 0);
    float: left;
    margin: 0.10em auto;
}

#type {
  color: inherit;
  text-transform: uppercase;
}
button {
    margin-top: 50px;
  background: #2ebd59;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.8em;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 600;
}
button:hover {
  background: #34d464;
}
#type2 {
    color: inherit;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    width: 25%;

}

#type2:hover{
    border-color: #34d464;
}

#type3 {
    color: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 900px;
    margin-left: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    width: 3.4%;

}

#type3:hover{
    border-color: white;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/* -----------------------------   TOGGLE SWITCH   ------------------------------- */


#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

#toggle + label {
  cursor: pointer;
float: right;
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 2px #5a5a5a;
  text-indent: -5000px;
  height: 24px; width: 40px;
  border-radius: 15px;
}

#toggle + label:before {
  content: '';
  position: absolute;
  display: block;
  height: 24px; width: 24px;
  top: 0; left: 0;
  border-radius: 15px;
  background: rgba(19,191,17,0);
  transition: .25s ease-in-out;
}

#toggle + label:after {
  content: '';
  position: absolute;
  display: block;
  height: 23px; width: 23px;
  top: 0 ; left: 0;
  border-radius: 15px;
  background: #acacac;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
  transition: .25s ease-in-out;
}

#toggle + label:hover:after {
  background: #ede9e9;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
}

#toggle:checked + label:before {
  width: 40px;
  background: rgba(19,191,17,1);
}

#toggle:checked + label:after {
  left: 16px;
  background: #ede9e9;
  
}

#label:hover {
    background: #ff0000;
}

#offline{
    float: right;
    line-height: 1px;
    margin-right: 10px;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

#toggletext{
    float: right;
    padding-right: 20px
    
}

#paddingtop{
    margin-top: 35px;
}

hr.thin {
height: 0.4px;
border: 0;
color: #505050;
background-color: #484848;
width: 100%;
margin-bottom: 30px;
}










a {
	text-decoration: none;
	color: #fff;
}

p > a:hover{
	color: #d9d9d9;
	text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:  1% 0 1% 0;
}



._12 {
	font-size: 1.2em;

}

._14 {
	font-size: 1.4em;

}

ul {
	padding:0;
	list-style: none;
}

.footer-social-icons {
	width: 350px;
	display:block;
  margin: 0 auto;
}

.social-icon {
	color: #fff;
}

ul.social-icons {	
	margin-top: 10px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #fff; 
	text-decoration: none;
}


.fa-facebook {
	padding:10px 14px 7px 14px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-twitter {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-twitter:hover {
	background-color: #00aced;
}

.fa-rss {
	padding:10px 12px 7px 12px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-rss:hover {
	background-color: #eb8231;
}

.fa-youtube {
	padding:10px 12px 7px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-youtube:hover {
	background-color: #e64a41;
}

.fa-linkedin {
	padding:10px 11px 8px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-linkedin:hover {
	background-color: #0073a4;
}

.fa-google-plus {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #322f30;
}

.fa-google-plus:hover {
	background-color: #e25714;
}